@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

/*----------Généralités----------*/
:root {
    --light-bckgnd: #FFFFFF;
    --grey-bckgnd: #F0F0F0;
    --dark-bckgnd: #444444;
    --orange: #ED786A;
    --hover-orange: #FD887A;
    --red: #CC0000;
    --lighter-grey: #e6e6e6;
    --light-grey: #888888;
    --mid-grey: #777777;
    --grey: #666666;
    --dark-grey: #3C3C3C;
    --font-title: 'Arvo', serif;
    --font-text: 'Source Sans Pro', sans-serif;
}

body {
    background: var(--light-bckgnd);
    color: var(--mid-grey);
    /*pour gestion menu*/
    display: flex;
    font-family: var(--font-text), 'sans-serif';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
}

a {
    text-decoration: none;
}

    a:hover, a:active {
        color: var(--hover-orange);
    }

    /* les boutons s'adapte à la taille de leurs conteneurs */
button {
    background: var(--orange);
    border: var(--red);
    border-radius: 4px;
    color: var(--light-bckgnd);
    /*font-size: 18px;*/
    font-weight: 600;
    /*margin-bottom: 30px;*/
    padding: 10px 0;
    width: 100%;
    /*TODO media query*/
}

    button:active, button:hover{
        background: var(--hover-orange);
    }

    button > a:hover, button > a:active {
        color: var(--light-bckgnd);
    }

img {
    /*max-width: 80%;*/
    /*height: auto;*/
}

/* ----------titres----------*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

/*TODO text shadow*/
h1 {
    font-family: var(--font-title);
    font-size: 45px;
    /*font-size: 78px;*/
    font-weight: 700;
    letter-spacing: 10px;
    margin-bottom: 30px;
    color: var(--orange);
}

h2 {
    font-size: 25px;
    /*font-size: 70px;*/
    letter-spacing: 2px;
    margin-bottom: 25px;
    margin-top: 25px;
}

h3 {
    font-size: 22px;
    /*font-size: 35px;*/
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

/*----------Framework----------*/
/*--------Layout--------*/
.container {
    /* marges gauche et droite sur toutes la page
       sauf menu nav et btn burger*/
    padding-left: 15px;
    padding-right: 15px;
    /*TODO media query'*/
}

.wrapper {
    /* permet de fixer la taille minimum,
       et empecher la réduction lors de la
       sortie du menu */
    flex-shrink: 0;
    flex-basis: 100%;
    /* annule le margin-b general des div */
    margin-bottom: 0;
    overflow-x: hidden;
}

/*--------Page--------*/
/*------Icones fontawesome------*/
.far, .fas, .fab {
    /*TODO*/
}


/*------Body------*/
body {

}

/*------Menu------*/
/*----Btn burger----*/
#burger-btn {
    background: var(--grey-bckgnd);
    border-radius: 4px;
    /*TODO box-shadow: ;*/
    box-shadow: var(--light-grey) 1px 1px 3px 0px;
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 12px 22px;
    transition: background 500ms;
    width: 60px;
}

#burger-btn span{
    background: var(--mid-grey);
    flex-basis: 2px;
    opacity: 1;
    transition: opacity 300ms, background 500ms, transform 600ms;
}

#burger-cmd:checked + #burger-btn {
    /*Lorsque burger est coché le bouton change d'aspect'*/
    background: var(--mid-grey);
}

#burger-cmd:checked + #burger-btn span{
    background: var(--grey-bckgnd);
}

/*rotation/deplacement des span 1 et 3 et masquage span 2*/
#burger-cmd:checked + #burger-btn span:nth-child(1){
    transform:  translateX(0px) translateY(7px) rotate(-45deg);
}

#burger-cmd:checked + #burger-btn span:nth-child(2){
    opacity: 0;
}

#burger-cmd:checked + #burger-btn span:nth-child(3){
    transform:  translateX(0px) translateY(-7px) rotate(45deg);
}

#burger-cmd {
    /*masquer la checkbox*/
    display: none;
}

/*----Menu nav----*/
    /* Conteneur nav taille 0 et contenu maqué,
       affiché via JS*/
/*TODO Separation item*/
#main-menu {
    background: var(--dark-bckgnd);
    color: var(--light-bckgnd);
    flex-basis: 0;
    flex-shrink: 0;
    height: 100vh;
    overflow-x: hidden;
    text-align: left;
    text-transform: uppercase;
}

#main-menu > ul {
    /*TODO del si inutil*/
    flex-grow: 1;
}

#main-menu li {
    border-bottom: 1px solid var(--dark-grey);
    padding-left: 20px;
}

    /* active le hover sur les liens lorsque la souris
    est dans la case, et garde le parent actif */
    #main-menu li:hover > a {
        color: var(--hover-orange);
    }

#main-menu li > a {
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
}

.menu-icon {
    /* cache les icones du menu en mobile*/
    display: none !important;
}

/*------Titre + phrase------*/
.title {
    /*top: 150px;*/
    text-align: center;
    padding-bottom: 50px;
}

#phrase {
    /*font-size: 22px;*/
    font-size: 38px;
    margin-bottom: 20px;
}

/*------Séparateurs------*/
.separator-double {
    display: flex;
    flex-direction: column;
    height: 15px;
    justify-content: space-between;
    margin-bottom: 30px;
}

    .separator-double span{
        background: var(--grey-bckgnd);
        height: 3px;
    }

.separator {
    display: flex;
    height: 13px;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 5px 0;
}

    .separator span{
        background: var(--grey-bckgnd);
        flex-basis: 3px;
    }

/*------Main------*/
main p {
    /* display permet de centrer le texte si moins d'une
       ligne puisque les autres p sont en justify */
    display: inline-block;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 30px;
    text-align: justify;
}

div, section, aside {
    margin-bottom: 30px;
}

/*----Latest news----*/
.latest-news {
    padding-left: 25px;
    padding-right: 25px;
    /*margin-bottom: 30px;*/
}

.fake-news {
    margin-bottom: 30px;
}

.fake-news img {
    background: var(--grey-bckgnd);
    margin-bottom: 30px;
    padding: 7px;
}

.fake-news p > a {
    border-bottom: 1px solid var(--lighter-grey);
}

/*----Citations----*/
.citation {
    position: relative;
    text-align: center;
}

    .citation .center {
        color: var(--light-bckgnd);
        font-size: 22px;
        left: 50%;
        letter-spacing: 4px;
        margin-bottom: 0;
        overflow: hidden;
        position: absolute;
        top: 50%;
        width: 80%;
        transform: translate(-50%, -50%);/
    }

.citation img {
    max-width: 100%;
    height: auto;
}

/*----Articles----*/


.articles img {
    background: var(--grey-bckgnd);
    /*height: auto;*/
    /*max-width: 100%;*/
    padding: 7px;
}

/*----Posts----*/
.posts .date {
    background: var(--light-grey);
    border-radius: 4px;
    color: var(--light-bckgnd);
    display: inline-block;
    padding: 3px 10px;
}



/*----Random news----*/
.random-news p > img {
    background: var(--grey-bckgnd);
    float: left;
    margin-bottom: 30px;
    margin-right: 15px;
    padding: 7px;
}

.random-news > .separator {
    margin-bottom: 30px;
}

/*------Footer------*/
footer {
    background: var(--grey-bckgnd);
    font-weight: 300;
    padding-top: 30px;
}

footer  > p {
    margin-bottom: 15px;
}

.question, .contact-us{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
}

.contact-us {
    font-weight: 600;
}

/*----Form contact----*/
#contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    /*padding: 15px;*/
}

    #contact .inputs {
        margin-bottom: 0;
    }

    #contact input {
        display: block;
        width: 100%;
    }

    #contact input, #contact textarea {
        border: none;
        border-radius: 4px;
        box-shadow: inset 1px 1px 5px var(--light-grey);
        margin-bottom: 15px;
        padding: 15px;
    }

    #contact textarea {
        resize: none;
        height: 250px;
    }

    #contact input::placeholder, #contact textarea::placeholder {
        font-weight: 300;
        font-style: inherit;
    }

/*--Messages d'erreurs--*/
.error {
    color: var(--red);
    padding-left: 5px;
    position: relative;
    text-align: left;
    top: -15px;
}


/*----Liens de contact----*/
.contact-div {
    text-align: left;
    /*padding: 15px;*/
}

 .contact-div p {
     margin-bottom: 15px;
 }

address {
    text-align: left;
    /*padding-left: 15px;*/
    margin-bottom: 30px;
}

    address li {
        display: flex;
        justify-content: flex-start;
    }

    address li > i {
        padding: 0 15px;
    }

.contact-links li{
    margin-bottom: 15px;
}

.footer-bottom {
    margin-bottom: 0;
    padding-bottom: 5px;
}

    .footer-bottom a {
        border-bottom: 1px solid var(--lighter-grey);
    }

/*----Icones----*/
.footer-icon {
    /*TODO icones arrondies*/

}

/*------Modal------*/
.modal {
    background: var(--light-bckgnd);
    border-radius: 4px;
    color: var(--light-bckgnd);
    display: flex;
    flex-direction: column;
    left: 50%;
    padding: 30px;
    position: fixed;
    text-align: left;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 75%;
    z-index: 30;
}

    .modal p {
        color: var(--mid-grey);
        margin-bottom: 30px;
    }

.layer {
    background: #000000;
    display: block;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 20;
}

/*----------10----------*/
/*--------8--------*/
/*------6------*/
/*----4----*/

/*TODO del fweight300 inutiles*/
/*TODO curseur click sur bouton et lien en version pc*/

/*--------Media queries--------*/
/*------mode petit ecran------*/
@media (max-width: 495px){
    /* agrandissement de l'image sous la citation pour pouvoir
       contenir le texte */
    .citation img {
        max-width: 200%;
    }

}

/*------mode tablette------*/
@media (min-width: 768px){
    button {
        width: auto;
        padding: 10px 30px;
    }

    .container {
        /*TODO*/
        /*padding-left: 50px;*/
        /*padding-right: 50px;*/
        padding-left: 8%;
        padding-right: 8%;

    }

    /*----Fake news----*/
    .flex-fakenews {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /*text-align: center;*/
    }

    .fake-news {
        flex-basis: 30%;
    }

        .fake-news img {
            width: 100%;
        }

    /*----Citation----*/
    .citation .center {

    }

    /*----Articles + posts + random----*/
    .flex-articles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: left;
    }

    .articles {
        flex-basis: 60%;
    }

    .articles img {
        height: auto;
        width: 100%;
    }

    .flex-posts {
        flex-basis: 30%;
        padding-top: 70px;
    }

    /*----Footer----*/
    footer {
        padding-bottom: 100px ;
        padding-top: 100px ;
    }

    .footer-top {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

        /* Espace entre les p */
        .footer-top > p:first-child {
            padding-right: 10px;
        }

    .footer-contacts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 100px;
        text-align: left;
    }

    /* passage du formulaire en flex pour pouvoir modifier la taille
       du bouton qui sinon prend la largeur du conteneur*/
    #contact {
        display: flex;
        flex-basis: 48%;
        flex-direction: column;
    }

        #contact button {
            align-self: flex-start;
        }


        #contact .inputs {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 0;
        }

            #contact .inputs input:first-child {
                margin-right: 15px;
            }


    .contact-div {
        flex-basis: 48%;
    }

        .contact-div > p {
            padding-left: 15px;
        }

    .contact-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        .contact-links > ul {
            flex-basis: 48%;
        }

    .footer-bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

        .footer-bottom p {
            padding: 0 15px;
        }

        .footer-bottom p:first-child {
            border-right: 1px solid var(--light-grey);
        }

    /*TODO padding/margin separator*/
}

/*------mode bureau------*/
@media (min-width: 992px){
    /*
    TODO:

    container padding
    */
    body {
        flex-direction: column;
    }

    #burger-btn {
        display: none;
    }

    #main-menu {
        background: inherit;
        color: inherit;
        flex-basis: inherit;
        flex-shrink: inherit;
        height: inherit;
        font-weight: 400;
        margin-bottom: 100px;
        overflow-x: inherit;
        text-align: inherit;
        width: 100%;
    }
        #main-menu .menu-icon {
            /* affiche les icones du menu */
            display: inherit !important;
        }

        #main-menu > ul {
            display: flex;
            justify-content: center;
            text-align: left;
        }

            /* uniquement premier menu visible*/
            #main-menu > ul > li {
                padding: 10px 20px;
            }

            /* Flèche en haut des sous menu de 1er niveau
           ::after triangle blanc
           ::before triangle noir, en dessous du blanc et décalé
                qui donne l'impression d'une bordure */
            #main-menu > ul > li > ul:after,
            #main-menu > ul > li > ul:before {
                border-bottom: 10px solid var(--light-bckgnd); /* bord inferieur meme couleur que contenu */
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                content: ''; /* contenu vide, sinon n'apparait pas */
                left: 10%; /* position par rapport à la gauche du ul */
                position: absolute;
                /* on réduit le bord haut de 10px, sur un carré
                   de 10px de coté, le bord haut disparait et
                   donne un triangle */
                top: -10px; /* position par rapport au haut du ul */
            }

            #main-menu > ul > li > ul:before {
                /* carré de 12px de coté, couleur hérité de la fonction
                   border du ul */
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-bottom: 12px solid;
                border-bottom-color: inherit; /* ne fonctionne pas dans la fonction border-bottom */
                margin-left: -2px; /* décalage de 2px par rapport au triangle blanc */
                top: -12px;
            }


        #main-menu li {
            /* supprime les traits de séparations sous tous les li */
            border-bottom: none;
            padding: 0 20px;
        }

            /* Masque les sous menus */
            #main-menu li ul {
                display: none;
                position: absolute;
                text-transform: initial;
                z-index: 10;
            }

                #main-menu li ul li ul {
                    left: 100%;
                    margin-top: -42px;
                }

            /* affiche le sous menu lorsque l'element parent est ciblé */
            #main-menu li:hover > ul {
                background: var(--light-bckgnd);
                border: 1px solid var(--lighter-grey);
                border-radius: 4px;
                display: block;

            }


        #main-menu a {
            white-space: nowrap;
        }
}


/*TODO boxshadow button*/