@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

/*----------Généralités----------*/
:root {
    --light-bckgnd: #FFFFFF;
    --grey-bckgnd: #F0F0F0;
    --dark-bckgnd: #444444;
    --orange: #ED786A;
    --hover-orange: #FD887A;
    --red: #CC0000;
    --lighter-grey: #e6e6e6;
    --light-grey: #888888;
    --mid-grey: #777777;
    --grey: #666666;
    --dark-grey: #3C3C3C;
    --font-title: 'Arvo', serif;
    --font-text: 'Source Sans Pro', sans-serif;
}

body {
    background: var(--light-bckgnd);
    color: var(--mid-grey);
    font-family: var(--font-text), 'sans-serif';
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
}

a {
    text-decoration: none;
}

    a:hover, a:active {
        color: var(--hover-orange);
    }

    /* les boutons s'adapte à la taille de leurs conteneurs */
button {
    background: var(--orange);
    border: var(--red);
    border-radius: 4px;
    color: var(--light-bckgnd);
    font-size: 18px;
    font-weight: 600;
    /*margin-bottom: 30px;*/
    padding: 10px 0;
    width: 100%;
}

    button:active, button:hover{
        background: var(--hover-orange);
    }

    button > a:hover, button > a:active {
        color: var(--light-bckgnd);
    }

/* ----------titres----------*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

/*TODO text shadow*/
h1 {
    font-family: var(--font-title);
    font-size: 45px;
    /*font-size: 78px;*/
    font-weight: 700;
    letter-spacing: 10px;
    margin-bottom: 30px;
    color: var(--orange);
}

h2 {
    font-size: 25px;
    /*font-size: 70px;*/
    letter-spacing: 2px;
    margin-bottom: 25px;
    margin-top: 25px;
}

h3 {
    font-size: 22px;
    /*font-size: 35px;*/
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

/*----------Framework----------*/
/*--------Layout--------*/
.container {
    /* marges gauche et droite sur toutes la page
       sauf menu nav et btn burger*/
    padding-left: 15px;
    padding-right: 15px;
    /*TODO déplacer la page lors de l'ouverture du menu'*/
}

.wrapper {
    /* permet de fixer la taille minimum,
       et empecher la réduction lors de la
       sortie du menu */
    flex-shrink: 0;
    flex-basis: 100%;
    /* annule le margin-b general des div */
    margin-bottom: 0;
    overflow-x: hidden;
}

/*--------Page--------*/

/*------Body------*/
body {
    display: flex;
}

/*------Menu------*/
/*----Btn burger----*/
[for="burger-cmd"] {
    background: var(--grey-bckgnd);
    border-radius: 4px;
    /*TODO box-shadow: ;*/
    box-shadow: var(--light-grey) 1px 1px 3px 0px;
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 12px 22px;
    transition: background 500ms;
    width: 60px;
}

[for="burger-cmd"] span{
    background: var(--mid-grey);
    flex-basis: 2px;
    opacity: 1;
    transition: opacity 300ms, background 500ms, transform 600ms;
}

#burger-cmd:checked + [for="burger-cmd"] {
    /*Lorsque burger est coché le bouton change d'aspect'*/
    background: var(--mid-grey);
}

#burger-cmd:checked + [for="burger-cmd"] span{
    background: var(--grey-bckgnd);
}

/*rotation/deplacement des span 1 et 3 et masquage span 2*/
#burger-cmd:checked + [for="burger-cmd"] span:nth-child(1){
    transform:  translateX(0px) translateY(7px) rotate(-45deg);
}

#burger-cmd:checked + [for="burger-cmd"] span:nth-child(2){
    opacity: 0;
}

#burger-cmd:checked + [for="burger-cmd"] span:nth-child(3){
    transform:  translateX(0px) translateY(-7px) rotate(45deg);
}

#burger-cmd {
    /*masquer la checkbox*/
    display: none;
}

/*----Menu nav----*/
    /* Conteneur nav taille 0 et contenu maqué,
       affiché via JS*/
/*TODO garder/supprimer flex. Separation item*/
#main-menu {
    background: var(--dark-bckgnd);
    color: var(--light-bckgnd);
    display: flex;
    flex-basis: 0;
    flex-shrink: 0;
    height: 100vh;
    overflow-x: hidden;
    text-align: left;
}

#main-menu > ul {
    /*TODO del si inutil*/
    flex-grow: 1;
}

#main-menu li {
    border-bottom: 1px solid var(--dark-grey);
    padding-left: 20px;
}

    /* permet d'activer le hover sur les liens lorsque la souris
    est dans la case, et garde le parent actif */
    #main-menu li:hover > a {
        color: var(--hover-orange);
    }

#main-menu li > a {
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
}



/*------Titre + phrase------*/
.title {
    /*top: 150px;*/
    text-align: center;
    padding-bottom: 50px;
}

#phrase {
    /*font-size: 22px;*/
    font-size: 38px;
    margin-bottom: 20px;
}

/*------Séparateurs------*/
.separator-double {
    display: flex;
    flex-direction: column;
    height: 15px;
    justify-content: space-between;
    margin-bottom: 30px;
}

    .separator-double span{
        background: var(--grey-bckgnd);
        height: 3px;
    }

.separator {
    display: flex;
    height: 13px;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 5px 0;
}

    .separator span{
        background: var(--grey-bckgnd);
        flex-basis: 3px;
    }



/*------Main------*/

main p {
    /* display permet de centrer le texte si moins d'une
       ligne puisque les autres p sont en justify */
    display: inline-block;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 30px;
    text-align: justify;
}

div, section, aside {
    margin-bottom: 30px;
}

/*----Latest news----*/
.latest-news {
    padding-left: 25px;
    padding-right: 25px;
    /*margin-bottom: 30px;*/
}

.fake-news {
    margin-bottom: 30px;
}

.fake-news img {
    background: var(--grey-bckgnd);
    margin-bottom: 30px;
    padding: 7px;
}

.fake-news p > a {
    border-bottom: 1px solid var(--lighter-grey);
}

/*----Citations----*/
.citation {
    position: relative;
    text-align: center;
}

    .citation .center {
        color: var(--light-bckgnd);
        font-size: 22px;
        left: 50%;
        letter-spacing: 4px;
        margin-bottom: 0;
        overflow: hidden;
        position: absolute;
        top: 50%;
        width: 80%;
        transform: translate(-50%, -50%);/
    }

.citation img {
    max-width: 100%;
    height: auto;
}

/*----Articles----*/


.articles img {
    background: var(--grey-bckgnd);
    height: auto;
    max-width: 100%;
    padding: 7px;
}

/*----Posts----*/
.posts .date {
    background: var(--light-grey);
    border-radius: 4px;
    color: var(--light-bckgnd);
    display: inline-block;
    padding: 3px 10px;
}



/*----Random news----*/

.random-news p > img {
    background: var(--grey-bckgnd);
    float: left;
    margin-bottom: 30px;
    margin-right: 15px;
    padding: 7px;
}

/*------Footer------*/
footer {
    background: var(--grey-bckgnd);
    font-weight: 300;
    padding-top: 30px;
}

footer  p {
    margin-bottom: 15px;
}

.question, .contact-us{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
}

.contact-us {
    font-weight: 600;
}

#contact {
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-weight: 400;
}

    #contact input, #contact textarea {
        border: none;
        border-radius: 4px;
        box-shadow: inset 1px 1px 5px var(--light-grey);
        margin-bottom: 15px;
        padding: 15px;
    }

    #contact textarea {
        resize: none;
        height: 250px;
    }

address {
    text-align: left;
    padding-left: 15px;
    margin-bottom: 30px;
}

    address li {
        display: flex;
        justify-content: flex-start;
    }

    address li > i {
        padding: 0 15px;
    }

.contact-links li{
    margin-bottom: 15px;
}

.footer-bottom {
    margin-bottom: 0;
    padding-bottom: 5px;
}

    .footer-bottom a {
        border-bottom: 1px solid var(--lighter-grey);
    }
/*----------10----------*/
/*--------8--------*/
/*------6------*/
/*----4----*/